html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.App {
  background-image: url(https://cdn.pixabay.com/photo/2020/04/19/20/57/soccer-5065614_1280.jpg);
  background-size: cover;
  background-position: center;
  text-align: center;
  padding: 2rem;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 20px;
  box-shadow: 20px 20px 20px green;
  color: #1e05a5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.App .selected-game {
  margin-top: 2rem;
  padding: 2rem;
  border: 2px solid #1e05a5;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.App .selected-game p {
  font-size: 1.6rem;
  margin: 1rem 0;
}

.App .added-game {
  margin-top: 2rem;
  padding: 2rem;
  border: 2px solid #1e05a5; /* Add border */
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
/* Add styles for the "Added Game" section */
.App .added-game {
  margin-top: 2rem;
  padding: 2rem;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.App .added-game {
  font-size: 1rem;
  margin: 5px;
  padding: 0.5rem;
  border: 2px solid #1e05a5;
  border-radius: 6px;
}



