
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}


.App {
  background-image: url(https://images.pexels.com/photos/1615842/pexels-photo-1615842.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);
  background-size: cover;
  background-position: center;
  text-align: center;
  padding: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #1e05a5;
}


.App h1 {
  font-size: 2.5rem;
  border: 2px solid rgba(0, 0, 0, 0.56);
  border-radius: 10px;
  padding: 0.5rem 1rem;
  background-color: rgba(255, 255, 255, 0.44);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 2rem;
}


.App .get-game {
  margin-bottom: 2rem;
  border: 2px solid #1e05a5;
  border-radius: 10px;
  padding: 2rem;
  background-color: rgba(255, 255, 255, 0.29);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 80%;
  max-width: 800px;
}


.App .get-game input {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: 2px solid #1e05a5;
  border-radius: 6px;
  font-size: 1rem;
}


.App .selected-game {
  margin-top: 2rem;
  padding: 2rem;
  border: 2px solid #1e05a5;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 80%;
  max-width: 800px;
}


.App .selected-game p {
  font-size: 1.6rem;
  margin: 1rem 0;
}


.App .added-game {
  margin-top: 2rem;
  padding: 2rem;
  border: 2px solid #a5053d;
  border-radius: 10px;
  background-color: rgba(5, 165, 56, 0.72);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 80%;
  max-width: 800px;
}


.App .added-game div {
  font-size: 1rem;
  margin: 10px;
  padding: 0.5rem;
  border: 2px solid rgb(165, 5, 61);
  border-radius: 6px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.App button {
  background-color: #6755c5;
  color: rgba(255, 255, 255, 0.63);
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
}


.App input {
  padding: 0.5rem;
  border: 2px solid #1e05a5;
  border-radius: 6px;
  font-size: 1rem;
}
